
# ignore these folders
/checkpoint
/checkpoint/*
/finetuned*
/data/samples
/data/em/old
/data/em/output*
/data/em/phantom*
/data/em/slam*
/data/em/test*
/data/em/train*
/data/em/val*
/data/em/sim*
/data_split
/input
/input/*
/output
/output/*
/temp
/temp/*
/venv
/venv/*
/cache
/cache/*
/.slurm

**/.ipynb_checkpoints/
.idea

# ignore these types
*.pyc
*.out
*.log
*.mexa64
*.pdf
*.tar